.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid rgb(112, 112, 112);
    width: 100%;
}

.input-title {    
    font-size: 32px;    
}

.invalid {
    border: 1px solid red;
    background: rgb(227, 173, 173);
}