.jornal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 700px;
}

input, textarea {
    background-color: #181818;
    border: none;
    border-bottom: 1px solid white;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.invalid {
    border: 1px solid red;
    background: rgb(68, 6, 6);
}
